<p>
  <%= comment.content %>
  <br>
  <% if (locals.user && locals.user.id == comment.user.id) { %>
  <small>
    <a href="/comments/destroy/<%= comment.id %>">
      <button type="button" name="button">X</button>
    </a>
  </small>
  <% } %>
  <small>
    <%= comment.user.name %>
  </small>
</p>
