<h1>Codeial / <%= title%></h1>
<h2>Home page</h2>

<section id="feed-posts">
  <h4>Posts</h4>
  <%# Show the post form only if user is signed in %>
  <% if (locals.user) { %>
  <form id="new-post-form" action="/posts/create" method="POST">
    <textarea name="content" rows="3" cols="30" placeholder="Type here.." required></textarea>
    <input type="submit" value="Post">
  </form>
  <% } %>
  <div class="posts-list-container">
    <ul>
      <% for (post of posts) {%>
        <%- include('_post') -%>
      <% } %>

    </ul>
  </div>
</section>

<section id="user-friends">
  <h4>Friends</h4>
  <% for(u of all_users) {%>
      <p>
        <a href="/users/profile/<%= u._id %>"><%= u.name %></a>
      </p>
  <% } %>
</section>
